* {
    box-sizing: border-box;
}

body {
    background: #9be3f9;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: orange;
}

h2 {
    color: orange;
    text-align: center;
}

#play button {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    color: orange;
    border-color: #ffef55;
    padding: 5px 20px;
}

section {
    justify-content: center;
    align-items: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    margin: 0 auto;
}

button.sqr {
    width: 25%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border-color: #ffef55;
    font-size: 50px;
}

button:hover {
    border: orange;
    cursor: pointer;
}

#reset button {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    color: orange;
    border-color: #ffef55;
    padding: 5px 20px;
}

#reset button:hover {
    border: orange;
}

