* {
    box-sizing: border-box;
}

body {
    /* background: #9be3f9; */
    /* background-image: url('/Project-1/Images/background-image.jpg'); */
    background-image: url(/Images/background-image.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



h1 {
    text-align: center;
    color: orange;
}

#level button {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e1c5a3;
    color: #0097c3;
    border-color: #ffef55;
    padding: 11px 14px;
}

#timer {
    color: orange;
}

#message {
    color: orange;
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 15px;
    animation: flash 1s linear infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

section {
    justify-content: center;
    align-items: center;
    animation: spin;
    animation-duration: 550ms;
    animation-iteration-count: inherit;
    animation-timing-function: ease-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(900deg);
    }
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    /* height: 325px; */
    margin: 0 auto;
}

button.sqr {
    width: 25%;
    aspect-ratio: 1/1;
    /* background-color: #e1c5a3; */
    background-color: transparent;
    border-color: #ffef55;
    font-size: 50px;
}

button:hover {
    border: orange;
    cursor: pointer;
}

#reset button {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #e1c5a3;
    color: #0097c3;
    border-color: #ffef55;
    padding: 11px 25px;
}

#reset button:hover {
    border: orange;
}

#level {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}